.tile {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  white-space: pre;
  text-align: center;
  vertical-align: middle;
}

.tileImg {
  display: inline-block;
  width: 83%;
  height: 83%;
}

@media only screen and (max-width: 768px) {
  .tile {
    width: 40px;
    height: 40px;
    border: .75px solid black;
  }
}

@media only screen and (max-width: 380px) {
  .tile {
    width: 30px;
    height: 30px;
    border: .5px solid black;
  }
}

@media only screen and (max-width: 290px) {
  .tile {
    width: 20px;
    height: 20px;
    border: .25px solid black;
  }
}
